body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 80px;
}

input {
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

#result {
    margin-top: 30px;
    font-size: 18px;
}
